- author = find_author(current_article.data.author)
= wrap_layout :layout do
  / ******BLOG******
  .blog.container
    .row
      #work-entry.work-entry.section.col-md-8.col-sm-8.col-xs-12
        %article.post
          %h2.title= current_article.title
          .meta
            %ul.meta-list.list-inline
              %li.post-time.post_date.date.updated= current_article.date.strftime('%B %e, %Y')
              %li.post-author
                by
                %a{:href => "#"}
                  = author.name
          .content
            = find_and_preserve(yield)
        / link with `#disqus_thread` is optional if not using `disqus_count` -->
        %a{:href => current_page.data.disqus_url} Comments
        = disqus
        /= disqus_count
      = partial "partials/blog_aside.haml"
