.item.clearfix
  .icon.col-md-3.col-xs-12.text-center
    %span.pe-icon{class: "pe-7s-#{benefit.tag}"}
  / //icon
  .content.col-md-9.col-xs-12
    %h3.title= benefit.heading
    %p.desc= benefit.description
