%aside#blog-sidebar.blog-sidebar.col-md-3.col-sm-4.col-xs-12.col-md-offset-1.col-sm-offset-0.col-xs-offset-0
  %section.widget.recent-posts

    %h3.title Recent Posts
    %ul.list-unstyled
      - blog.articles[0...10].each do |article|
        %li
          = link_to article.title, article
          %br/
          %span.date= article.date.strftime('%b %e')

    %h3.title Tags
    %ul.list-unstyled
      - blog.tags.each do |tag, articles|
        %li= link_to "#{tag} (#{articles.size})", tag_path(tag)

    %h3.title By Year
    %ul.list-unstyled
      - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
        %li= link_to "#{year} (#{articles.size})", blog_year_path(year)
