/ ******FOOTER******
%footer.footer
  .footer-content
    .container
      .row
        .footer-col.col-md-5.col-sm-7.col-sm-12.about
          .footer-col-inner
            %h3.title About Us
            %p Rails Rescue makes web applications using Ruby on Rails at a reasonable cost and with a minimum of problems for our clients.
            %p
              %a.more{:href => "/about_us"}
                Learn more
                %i.fa.fa-long-arrow-right
        .footer-col.col-md-3.col-sm-4.col-md-offset-1.links
          .footer-col-inner
            %h3.title Navigation
            %ul.list-unstyled
              %li
                %a{:href => "/projects"}
                  %i.fa.fa-caret-right>
                  Projects
              %li
                %a{:href => "/how_we_work"}
                  %i.fa.fa-caret-right>
                  How We Work
              %li
                %a{:href => "/about_us"}
                  %i.fa.fa-caret-right>
                  About Us
              %li
                %a{:href => "/contact"}
                  %i.fa.fa-caret-right>
                  Contact
        .footer-col.col-md-3.col-sm-12.contact
          .footer-col-inner
            %h3.title Get in touch
            .row
              %p.tel.col-md-12.col-sm-4
                %i.fa.fa-phone>
                760.487.8370
              %p.email.col-md-12.col-sm-4
                %i.fa.fa-envelope
                %a{:href=>"mailto:info@railsrescue.com", :target => "_blank"}
                  Click to email us
  .bottom-bar
    .container
      .row
        %small.copyright.col-md-6.col-sm-6.col-xs-12
          Copyright @ 2015 Tempo | Website template by
          %a{:href => "http://themes.3rdwavemedia.com/", :target => "_blank"} 3rd Wave Media
