/ ******HEADER******
%header#header.header
  .container
    %h1.logo.pull-left
      %a{:href => "/"}
        %img.logo-image.img-responsive{:alt => "Rails Rescue logo", :src => "/assets/images/railsrescue.png"}/
    %nav#main-nav.main-nav.navbar-right{:role => "navigation"}
      .navbar-header
        %button.navbar-toggle{"data-target" => "#navbar-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
      #navbar-collapse.navbar-collapse.collapse
        %ul.nav.navbar-nav
          %li.nav-item{:class => @page == "index" ? "active" : ""}
            %a{:href => "/"} Home
          %li.nav-item{:class => @page == "services" ? "active" : ""}
            %a{:href => "/services"} Services
          %li.nav-item{:class => @page == "projects" ? "active" : ""}
            %a{:href => "/projects"} Projects
          %li.nav-item{:class => @page == "testimonials" ? "active" : ""}
            %a{:href => "/testimonials"} Testimonials
          %li.nav-item{:class => @page == "how_we_work" ? "active" : ""}
            %a{:href => "/how_we_work"} How We Work
          %li.nav-item{:class => @page == "about_us" ? "active" : ""}
            %a{:href => "/about_us"} About Us
          %li.nav-item{:class => @page == "blog" ? "active" : ""}
            %a{:href => "/blog"} Blog
          %li.nav-item{:class => @page == "contact" ? "active" : ""}
            %a{:href => "/contact"} Contact
