%head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title Business web application development with Ruby on Rails and much more | Rails Rescue
  / Meta
  %meta{:charset => "utf-8"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %meta{:content => "We build, enhance, and maintain business websites built with Ruby on Rails", :name => "description"}/
  %meta{:content => "Scott Olmsted", :name => "author"}/

  %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
  %link{:href => "http://railsrescue.com/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/

  %link{:href => "http://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic", :rel => "stylesheet", :type => "text/css"}/
  %link{:href => "http://fonts.googleapis.com/css?family=Montserrat:400,700", :rel => "stylesheet", :type => "text/css"}/
  / Global CSS
  %link{:href => "/assets/plugins/bootstrap/css/bootstrap.min.css", :rel => "stylesheet"}/
  / Plugins CSS
  / use font-awesome-middleman gem to avoid undefined less variable problem
  / %link{:href => "/assets/plugins/font-awesome/css/font-awesome.css", :rel => "stylesheet"}/
  %link{:href => "/assets/plugins/pe-icon-7-stroke/css/pe-icon-7-stroke.css", :rel => "stylesheet"}/
  %link{:href => "/assets/plugins/animate-css/animate.min.css", :rel => "stylesheet"}/
  %link{:href => "/assets/plugins/flexslider/flexslider.css", :rel => "stylesheet"}/
  / Theme CSS
  %link#theme-style{:href => "/assets/css/styles.css", :rel => "stylesheet"}/
  / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
  /[if lt IE 9]
    %script{:src => "https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js", :type => "text/javascript"}
    %script{:src => "https://oss.maxcdn.com/respond/1.4.2/respond.min.js", :type => "text/javascript"}
