%script{:src => "/assets/plugins/jquery-1.11.2.min.js", :type => "text/javascript"}
%script{:src => "/assets/plugins/jquery-migrate-1.2.1.min.js", :type => "text/javascript"}
%script{:src => "/assets/plugins/bootstrap/js/bootstrap.min.js", :type => "text/javascript"}
%script{:src => "/assets/plugins/bootstrap-hover-dropdown.min.js", :type => "text/javascript"}
%script{:src => "/assets/plugins/jquery-inview/jquery.inview.min.js", :type => "text/javascript"}
%script{:src => "/assets/plugins/isMobile/isMobile.min.js", :type => "text/javascript"}
/%script{:src => "/assets/plugins/back-to-top.js", :type => "text/javascript"}
%script{:src => "/assets/plugins/jquery-placeholder/jquery.placeholder.js", :type => "text/javascript"}
%script{:src => "/assets/plugins/FitVids/jquery.fitvids.js", :type => "text/javascript"}
%script{:src => "/assets/plugins/flexslider/jquery.flexslider-min.js", :type => "text/javascript"}
%script{:src => "/assets/js/main.js", :type => "text/javascript"}
/ [if !IE]>
%script{:src => "/assets/js/animations.js", :type => "text/javascript"}
/ <![endif]
:javascript
    $(document.links).filter(function() {
        return this.hostname != window.location.hostname;
    }).attr('target', '_blank');
