/ ******PROMO******
%section#promo.promo.section
  .container.intro
    %h2.title
      Let us get your website working!
    %p.summary
      We're expert Ruby on Rails developers with a proven track record.
      %br>/
      Projects of all sizes. U.S. based. Reasonable rates.
  / //intro
  .fixed-container
    .social.text-center
      .container
        %span.line Love Rails Rescue? Spread the word:
        / //twitter tweet button code starts
        .twitter-tweet
          %a.twitter-share-button{"data-hashtags" => "railsrescue", "data-via" => "railsrescue", :href => "https://twitter.com/share"} Tweet
          :javascript
            !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        / //twitter tweet button code ends
  .bg-slider-wrapper
    #bg-slider.flexslider.bg-slider
      %ul.slides
        %li.slide.slide-1
        %li.slide.slide-2
