.item
  .quote-box
    %blockquote.quote= testimonial.quote
    %p.details
      %span.name= testimonial.name
      %span.title= testimonial.title
    %i.fa.fa-quote-right
  .people.text-center
    %img.img-rounded.user-pic{:alt => "", :src => testimonial.source}/
