- @page = "about_us"

.work.container
  .row
    #work-entry.work-entry.section.col-md-8.col-sm-8.col-xs-12
      %article.post
        %h2.title About Us
        = partial "partials/about_uz.markdown"
