- @page = "contact"

%section#contact-main.contact-main.section
  .container.text-center
    %h2.title Get in touch
    %p.intro We'd love to hear from you. For questions not related to project work, please use email.
    .row
      .item.col-md-4.col-sm-12.col-xs-12
        .item-inner
          .icon
            / <i class="fa fa-envelope"></i>
            %span.pe-icon.pe-7s-mail-open-file
          .details
            %h4 Email:
            %p
              %a{:href=>"mailto:info@railsrescue.com", :target => "_blank"}
                Rails Rescue
      .item.col-md-4.col-sm-12.col-xs-12
        .item-inner
          .icon
            / <i class="fa fa-phone"></i>
            %span.pe-icon.pe-7s-phone
          .details
            %h4 Call us at:
            %p.phone 760.487.8370
            %p.day Mon-Fri 10am-6pm (Eastern Time)
            %p.day At other times you may be asked to leave a message.
      .item.col-md-4.col-sm-12.col-xs-12.last
        .item-inner
          .icon
            / <i class="fa fa-map-marker"></i>
            %span.pe-icon.pe-7s-map-2
          .details
            %h4 Find us in:
            %p.address
              Charleston, South Carolina
    = link_to("_", '/where_we_work', :style => 'opacity: 0.2;')
