- @page = "how_we_work"

.work.container
  .row
    #work-entry.work-entry.section.col-md-8.col-sm-8.col-xs-12
      %article.post
        %h2.title How We Work

        = partial "partials/how_we_worx.markdown"

        %span.anchor#next
        %h3.subtitle What's the next step?

        %p
          %a{ :href => "/contact" }<
            Call us!
          We'll listen and then tell you what we think we can do for you. You've saved some time 
          by reading this page, so we're already ahead of the game!

    %aside#work-sidebar.work-sidebar.col-md-3.col-sm-4.col-xs-12.col-md-offset-1.col-sm-offset-0.col-xs-offset-0
      %section.widget.categories
        %h3.subtitle Topics
        %ul.list-unstyled
          %li
            %a{:href => "#price"} Price
          %li
            %a{:href => "#payment"} Payment
          %li
            %a{:href => "#confidentiality"} Confidentiality
          %li
            %a{:href => "#contract"} Contract
          %li
            %a{:href => "#started"} How do we get started?
          %li
            %a{:href => "#how_long"} How long will it take?
          %li
            %a{:href => "#all_you_need"} "All you need to do is..."
          %li
            %a{:href => "#next"} What's the next step?



