---
benefits:
  - heading: Clients like what we create
    tag: like2
    description: 
      We've been building web applications with Ruby on Rails since 2008, both new "start from scratch"
      projects and "rescue" projects. We're ready to start on your project.
  - heading: We're focused on how to make you succeed
    tag: rocket
    description: 
      Our process starts with the end in mind and never loses sight of it. If you can describe what you
      want users to experience on your site, we'll figure out how to make it happen.
  - heading: We keep you in the loop
    tag: call
    description:
      Actually, we <strong>need</strong> you in the loop. Great applications are built with
      continuing input from the owners and users. We'll make sure you know exactly what we're working on.
  - heading: We're more affordable than the larger agencies and development shops
    tag: piggy
    description: 
      Our overhead is low because we're a virtual agency, without expensive fixed costs, such as fancy
      offices. And, as the cliche goes, we pass the savings on to you.
  - heading: We're here for you
    tag: like
    description: 
      Is your project in trouble? Has your developer left the building? Is your web development agency 
      not making much progress on your project? We have lots of experience continuing where others have left off.
testimonials:
  - name: James B. DuHamel, DDS
    title: Sleep Connect Inc.
    quote:
      Our web application is large and complex, and includes a clinical management module used by several dental 
      practices. Rails Rescue created and maintains it all.
    source: "/assets/images/people/jim_round.png"
  - name: Matt Sadler
    title: Vestmatch
    quote:
      We were in trouble with issues created by a previous staff member, and brought in Scott and 
      his team. They got us to a position where we could move forward again. 
    source: "/assets/images/people/matt_round.png"
  - name: Steven Marzuola
    title: Houston interpreters and Translators Association
    quote:
      We asked Rails Rescue to move our site, then retained them to maintain the site 
      and make enhancements, and theyve done that for six years now. I recommend them.
    source: "/assets/images/people/steven_round.png"
---

- @page = "index"

= partial "partials/_promo.haml"

/= partial "partials/press.haml"

/ ******WHY******
%section#why.why.section
  .container
    %h1.title.text-center Why Use Rails Rescue?
    /%p.intro.text-center Answer: We produce successful projects and happy clients 
    .row
      .benefits.col-md-7.col-sm-6.col-xs-12
        - current_page.data.benefits.each do |benefit|
          = partial "partials/benefit.haml", :locals => { :benefit => benefit }
        .clearfix
      .testimonials.col-md-4.col-sm-5.col-md-offset-1.col-sm-offset-1.col-xs-12.col-xs-offset-0
        - current_page.data.testimonials.each do |testimonial|
          = partial "partials/testimonial.haml", :locals => { :testimonial => testimonial }
