!!!
/[if IE 8] <html lang="en" class="ie8">
/[if IE 9] <html lang="en" class="ie9">
/ [if !IE]><!
%html{:lang => "en"}
  / <![endif]
  = partial "partials/head.haml"
  %body.home-page
    .wrapper
      = partial "partials/header.haml"
      = yield
      = partial "partials/footer.haml"
      /= partial "modal"

    / Javascript
    = partial "partials/javascript.haml"
    = partial "partials/google_analytics.haml"
