- @page = "projects"

%section#features.features.section
  .container
    %h1.title Projects
    .item.row
      .content.col-md-5.col-sm-5.col-xs-12.pull-right.col-md-offset-1.col-sm-offset-1.col-xs-offset-0.from-right
        %h3.title Sleep Connect
        .details
          %p
            This greenfield project created a platform for managing the screening, diagnosis,
            and treatment of a common medical condition with a new device. The site collects and
            evaluates near real-time data and displays that data, plus derived
            diagnostic information to a dentist and supporting staff in a dental practice. The site
            manages the clinical aspects of treatment, and coordinates information transfer between
            the dentist's office and third party billers. We have enhanced and maintained this site
            for several years.
      / //content
      .figure.col-md-6.col-sm-6.col-xs-12.from-left
        %img.img-responsive{:alt => "", :src => "/assets/images/projects/sleep.png"}/
      / //figure
    / //item
    .item.row
      .content.col-md-5.col-sm-5.col-xs-12.from-left
        %h3.title Help Me 2 Learn
        .details
          %p
            Help Me 2 Learn's game series Super Star Online is being used by 85 schools, in 19 states and by over 26,000 users
            to teach mathematics and language skills to grades K thru 6.
            This ongoing project continues to add new capabilities for reporting and administration as well as support
            a transition from Flash-based to HTML5-based games that is still underway.
            The hosting of the site was moved to a Rails-savvy company that provides technical 
            support at a very reasonable rate.
      / //content
      .figure.col-md-6.col-sm-6.col-xs-12.col-md-offset-1.col-sm-offset-1.col-xs-offset-0.from-right
        %img.img-responsive{:alt => "", :src => "/assets/images/projects/hm2l.png"}/
      / //figure
    / //item
    .item.row
      .content.col-md-5.col-sm-5.col-xs-12.pull-right.col-md-offset-1.col-sm-offset-1.col-xs-offset-0.from-right
        %h3.title Houston Interpreters and Translators Association
        .details
          %p
            This ongoing project for the Houston Interpreters and Translators Association has added a number of features
            and improvements as well as upgrading and maintaining the code and the various gems and other software components
            it uses. In addtion it was relocated to a highly rated, but inexpensive host. It has been working on Rails 2 since 2010.
      / //content
      .figure.col-md-6.col-sm-6.col-xs-12.from-left
        %img.img-responsive{:alt => "", :src => "/assets/images/projects/hita.png"}/
      / //figure
    / //item
    .item.row
      .content.col-md-5.col-sm-5.col-xs-12.from-left
        %h3.title Donor Network Alliance
        .details
          %p
            This site, an aggregator of the offerings of many egg donor agencies, was upgraded from Rails 2 to Rails 3, 
            poorly organized code was refactored or replaced, and several corrections were
            made to greatly speed searches. The styling of the site was improved, which gave it a more attractive appearance.
            Finally, new features were added, including an entirely new business line.
      / //content
      .figure.col-md-6.col-sm-6.col-xs-12.col-md-offset-1.col-sm-offset-1.col-xs-offset-0.from-right
        %img.img-responsive{:alt => "", :src => "/assets/images/projects/dna.png"}/
      / //figure
    / //item
    .item.row
      .content.col-md-5.col-sm-5.col-xs-12.pull-right.col-md-offset-1.col-sm-offset-1.col-xs-offset-0.from-right
        %h3.title
          = "\u004d\u0065\u0074\u0072\u006f\u0070\u0061\u0077\u0073"
        .details
          %p
            Another development firm spent ten months on this project and progress slowed to a crawl,
            so the client brought the project to us. We added many features that had not been implemented, and we moved the site to a Rails-friendly hosting company with good technical support. A team of three developers worked to turn this project around quickly, as the client wanted.
      / //content
      .figure.col-md-6.col-sm-6.col-xs-12.from-left
        %img.img-responsive{:alt => "", :src => "/assets/images/projects/paws.png"}/
      / //figure
    / //item
  / //container

