- @page = "services"

.work.container
  .row
    #work-entry.work-entry.section.col-md-8.col-sm-8.col-xs-12
      %article.post
        %h2.title Services

        = partial "partials/services.markdown"

    %aside#work-sidebar.work-sidebar.col-md-3.col-sm-4.col-xs-12.col-md-offset-1.col-sm-offset-0.col-xs-offset-0
      %section.widget.categories
        %br
        %br
        %h3.subtitle List of Services
        %ul.list-unstyled
          %li
            %a{:href => "#code_evaluation"} Code Evaluation
          %li
            %a{:href => "#upgrades"} Upgrades
          %li
            %a{:href => "#design"} Application Design
          %li
            %a{:href => "#development"} Development
