---
pageable: true
per_page: 10
---
- @page = "blog"

.blog.container
  %h2.title Articles tagged '#{tagname}'
  .row
    #blog-list.blog-list.section.col-md-8.col-sm-8.col-xs-12
      - if paginate && num_pages > 1
        %p
          Page #{page_number} of #{num_pages}
        - if prev_page
          %p= link_to 'Previous page', prev_page
      - page_articles.each_with_index do |article, i|
        %article.post
          .content
            %h3.post-title
              = article.title
            .meta
              %ul.meta-list.list-inline
                %li.post-time.post_date.date.updated
                  = article.date.strftime('%b %e, %Y')
                %li.post-author
                  by
                  %a{:href => "#"}
                    - author = find_author(article.data.author)
                    = author.name
              %a.read-more
                = link_to('Read more', article)
                %i.fa.fa-long-arrow-right
      - if paginate
        - if next_page
          %p= link_to 'Next page', next_page
    = partial "partials/blog_aside.haml"
