---
testimonials:
  - name: Charles Hankins
    title: Hankins Inspections
    quote:
      I greatly appreciate the professional and expedient manner in which you handled completing my new website.  I realize it was not an easy task as the previous company I was using was inexperienced and you had to fight through all their errors to make the new site work properly. <br><br>  It has been a pleasure working with you and being able to reach you in a timely manner with any problems we are having at the time.  I realize that any new program has its problems and you have helped us work through them without losing our clientele. 
  - name: Will Blattner
    title: TSC Advantage
    quote:
      I would also like to thank you for the high quality and consistency of the work you have done for TSC. Finding dynamic, reliable developers is always a challenge and we are very lucky to have been able to work with you on this first version of our new product. Please accept my sincerest gratitude for your efforts. We have been more than satisfied with the speed, quality, and most importantly--the outcome of this specific effort.
  - name: Michael Reardon
    title: ZR Internet
    quote:
      Thanks for tackling this so quickly...<br><br>
      ...Yeah, that's going above and beyond man.  Awesome.<br><br>
      ...Awesome job!  Thanks Scott.<br><br>
      ...We'd be up s**t's creek if it wasn't for you!
---

- @page = "testimonials"


%section#why.why.section
  .container
    .row
      %h1.title More Testimonials
      .testimonials.col-md-6.col-sm-7.col-md-offset-1.col-sm-offset-1.col-xs-12.col-xs-offset-0
        - current_page.data.testimonials.each do |testimonial|
          = partial "partials/testimonial2.haml", :locals => { :testimonial => testimonial }
