.work.container
  .row
    #work-entry.work-entry.section.col-md-8.col-sm-8.col-xs-12
      %article.post
        %h3.title Where We Work

        %p We are Ruby on Rails developers in Charleston.
        %p We are Ruby on Rails developers in El Paso.
        %p We are Ruby on Rails developers in Nashville.
        %p We are Ruby on Rails developers in Oklahoma City.
        %p We are Ruby on Rails developers in Tucson.
        %p We are Ruby on Rails developers in Albuquerque.
        %p We are Ruby on Rails developers in Long Beach, California.
        %p We are Ruby on Rails developers in Kansas City.
        %p We are Ruby on Rails developers in Fresno.
        %p We are Ruby on Rails developers in New Orleans.
        %p We are Ruby on Rails developers in Cleveland.
        %p We are Ruby on Rails developers in Mesa.
        %p We are Ruby on Rails developers in Virgina Beach.
        %p We are Ruby on Rails developers in Omaha.
